body {
    background-color: #DFE8F6;
}

a, .link {
    cursor: pointer;
    text-decoration: none;
    color: #093D93;
}

.course-panel form.x-panel-body, .course-panel .x-tab-panel-body, .user-panel form.x-panel-body, .message-panel .x-panel-body, .test-panel .x-panel-body {
    background-color: #DFE8F6;
}
.course-panel .x-tab-panel-header {
    border: none;
    padding-bottom: 0;
}

.header-user-data {
    font: bold 12px tahoma,helvetica,sans-serif;
    line-height: 22px;
}

.menu-container .x-tree-node-el {
    padding: 2px 0;
}

.node-icon-hidden .x-tree-node-icon {
    display: none;
}

.news-feed-wrap {
    background-color: #F9F9F9;
    border: 1px solid #B5B8C8;
    font: 11px tahoma,helvetica,sans-serif;
    margin: 5px;
    padding: 5px;
}

.news-feed-header {
    border-bottom: 1px solid #CCCCCC;
    padding: 0 1px 3px;
    height: 13px;
}

.news-feed-date {
    color: #555555;
}

.news-feed-content {
    text-align: justify;
    padding: 5px;
}

.displayfield-new-look .x-form-display-field, .displayfield-new-look-class {
    background-color: #F5F5F5;
    border: 1px solid #B5B8C8;
    padding: 3px;
    height: 14px;
}

.messages-row-not-read .x-grid3-cell-inner {
    font-weight: bold;
}
.messages-row-not-read .x-grid3-col-numberer {
    font-weight: normal !important;
}
.ext-el-mask {
    background-color: #DFE8F6;
    opacity: 0.3;
}

.contacts-combo-email {
    color: #555555;
    font-size: 11px;
    margin-left: 2px;
}

.groups-renderer-name {
    font-size: 12px;
}

.groups-renderer-year {
    color: #999;
    font-size: 10px;
    margin-left: 4px;
}

.forum-panel .x-tab-panel-header {
    border-bottom-width: 0 !important;
}

.forum-panel .x-tab-panel-body {
    border: 0 none;
}

.thread-cell-body {
    background: url(../images/thread_24.png) no-repeat scroll 0 2px transparent;
    padding-left: 30px;
}

.thread-cell-subject {
    color: #333333;
    font-family: tahoma,verdana;
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 3px;
}

.thread-cell-user {
    opacity: 0.9;
}

.thread-cell-text {
    color: #555555;
    margin: 3px 20px 8px 35px !important
}

.thread-preview-table {
    font-size: 12px;
    border-spacing: 0;
}

.thread-preview-item-body {
}

.thread-preview-table td {
    border-bottom: 1px solid #DADADB;
    font-family: tahoma,verdana;
    vertical-align: top;
}

.thread-preview-subject {
    background: url(../images/thread_24.png) no-repeat scroll 5px 7px transparent;
    padding: 8px 0 8px 35px;
    color: #333333;
    font-family: tahoma,verdana;
    font-weight: bold;
    font-size: 14px;
    background-color: #F1F2F4;
    border-bottom: 1px solid #DADADB;
}

.thread-preview-item-user {
    background: url(../images/comment.png) no-repeat scroll 0 2px transparent;
    white-space: nowrap;
    font-size: 13px;
    padding-left: 20px;
}

td.thread-preview-item-text {
    color: #555555;
    padding: 15px 15px 30px;
    width: 100%
}

td.thread-preview-item-info {
    background-color: #F9F9FF;
    padding: 15px 20px 30px 5px;
}

.thread-preview-item-date {
    color: #555555;
    font-size: 10px;
    padding-left: 20px;
}

.forum-panel .x-tab-strip .x-tab-with-icon span.x-tab-strip-text {
    background-position: 0 6px;
}

.course-panel .x-tab-strip-top .x-tab-right, .course-panel .x-tab-strip-top .x-tab-left, .course-panel .x-tab-strip-top .x-tab-strip-inner {
    background-image: none;
}

.thread-preview, .thread-preview .x-panel-body {
    background-color: #FFFFFF;
}

.thread-preview .x-panel-body {
    border-bottom-width: 0;
}

.course-forum .x-panel-body {
    border-left-width: 0;
    border-right-width: 0;
}

.course-forum .x-grid-panel .x-toolbar {
    border: none;
}

.x-form-display-field ol, .x-form-display-field ul {
    list-style-position: inside;
    padding: 5px;
}

.x-form-display-field ul {
    list-style-type: disc;
}

.x-form-display-field ol {
    list-style-type: decimal;
}

.x-form-display-field li {
    padding-left: 25px;
}