.default-icon-add, .add-icon {
    background-image: url(../images/add.png);
}
.course-add-icon {
    background-image: url(../images/books_add.png);
}

.header-logout-icon {
    background-image: url(../images/logout.png);
}

.course-icon {
    background-image: url(../images/books.png) !important;
}

.dashboard-icon, .feed-icon {
    background-image: url(../images/feed.png) !important;
}

.feed-add-icon {
    background-image: url(../images/feed_add.png) !important;
}

.messages-icon {
    background-image: url(../images/email.png) !important;
}
.messages-icon-add {
    background-image: url(../images/email_add.png) !important;
}
.messages-icon-delete {
    background-image: url(../images/email_delete.png) !important;
}
.messages-icon-reply {
    background-image: url(../images/email_edit.png) !important;
}
.messages-icon-forward {
    background-image: url(../images/email_go.png) !important;
}

.contacts-icon {
    background-image: url(../images/vcard.png) !important;
}

.contacts-add-icon {
    background-image: url(../images/vcard_add.png) !important;
}

.save-icon {
    background-image: url(../images/disk.png);
}

.user-add-icon {
    background-image: url(../images/user_add.png);
}

.user-assignment-confirm-icon {
    background-image: url(../images/accept.png);
}

.menu-panel-icon {
    background-image: url(../images/menu.png);
}

.user-icon {
    background-image: url(../images/user_gray.png);
}

.upload-icon {
    background-image: url(../images/document_upload.png);
}

.browse-icon {
    background-image: url(../images/page_find.png);
}

.file-delete-icon {
    background-image: url(../images/document_remove.png);
}

.group-icon {
    background-image: url(../images/group.png) !important;
}

.group-add-icon {
    background-image: url(../images/group_add.png) !important;
}

.test-icon, .test-add-icon {
    background-image: url(../images/page_white_edit.png) !important;
}

.forum-icon {
    background-image: url(../images/comments.png) !important;
}

.thread-icon {
    background-image: url(../images/comment.png) !important;
}

.forum-add-icon {
    background-image: url(../images/comment_add.png) !important;
}

.forum-reply-icon {
    background-image: url(../images/comment_edit.png) !important;
}

.questionnaire-icon {
    background-image: url(../images/check_list.png) !important;
}

.questionnaire-add-icon {
    background-image: url(../images/check_list.png) !important;
}
